
- if @user == current_user
  %h1 Your profile
  -#%button.btn.btn-primary
  %p= link_to "Edit user account", edit_user_registration_path
  
-else
  %h1= @user.name

- if admin?
  - if not @user.confirmed?
    %p
      %i.icon-ok
      = link_to "Confirm this user's email address", profiles_confirm_path(@user)
  - if not @user.customer?
    %p
      %i.icon-star
      = link_to "Upgrade this user to 'customer' status", profiles_upgrade_path(@user)

%p
  Ideas by this user:
  = @user.ideas.count

%p
  Comments by this user:
  = @user.comments.count

%p
  Votes by this user:
  = @user.votes.count

- if !@user.sites.empty?
  %h2 Sites by this user
  %table.table.table-hover.table-bordered
    %tbody
      - @user.sites.each do |site|
        %tr
          %td= link_to site.name, customer_site_path(site)
