%p
  %i.icon-chevron-left
  = link_to "Browse ideas", site_path(@site)

= render 'ideas/idea', site: @site, idea: @idea, vote: @vote, url: customer_site_customer_idea_path(@site, @idea)

%h2 Comments
- if !@comments.empty?
  - @comments.each do |comment|
    = render 'comments/comment', comment: comment, url: customer_site_customer_idea_customer_comment_path(@site, @idea, comment)
- else
  = render 'comments/empty'

- content_for :sidebar do
  - if can? :create, @response
    %h3 Respond
    = render 'customer_responses/form', url: customer_site_customer_idea_customer_responses_path(@site, @idea)
    
  - if can? :create, @comment
    %h3 Add comment
    = render 'comments/form', url: customer_site_customer_idea_customer_comments_path(@site, @idea)
      
  = render 'customer_sites/sidebar'
