%h1= idea.title

%p
  - if idea.responses.last
    %span.label{style: "background-color: #{idea.responses.last.state.color};"}
      = idea.responses.last.state.name
    &nbsp;
  score:
  %span.badge{id: "score"}= idea.score
  - if user_signed_in?
    &nbsp;&middot;&nbsp;
    - if vote
      %button.btn.btn-mini.btn-success{id: "vote", style: "display: none;"} &nbsp;Vote&nbsp;
      %button.btn.btn-mini.btn-warning{id: "unvote"} Unvote
    - else
      %button.btn.btn-mini.btn-warning{id: "unvote", style: "display: none;"} Unvote
      %button.btn.btn-mini.btn-success{id: "vote"} &nbsp;Vote&nbsp;

:javascript
  $("#vote, #unvote").click(function(){
    $.ajax({
      url: "#{site_idea_votes_path(site, idea)}", 
      method: "POST",
      dataType: "json",
      success: display
    });
  });
  function display(data) {
    $("#score").html(data.score);
    $("#vote").toggle();
    $("#unvote").toggle();
  }

%div.well
  %p
    = idea.description

  %p
    posted by:
    = link_to idea.user.name, idea.user
  
  %small.text-right.muted
    created 
    = idea.created_at
  
    - if idea.edited?
      and edited 
      = idea.updated_at