%h1= idea.title

%p
  - if idea.responses.last
    %span.label{style: "background-color: #{idea.responses.last.state.color};"}
      = idea.responses.last.state.name
    &nbsp;
  score:
  %span.badge{id: "score"}= idea.score
  - if user_signed_in?
    &nbsp;&middot;&nbsp;
    %span#vote{ "data-uri" => site_idea_votes_path(site, idea) }
      - if vote
        %button.btn.btn-mini.btn-success.vote{ style: "display: none;"} &nbsp;Vote&nbsp;
        %button.btn.btn-mini.btn-warning.vote Unvote
      - else
        %button.btn.btn-mini.btn-warning.vote{ style: "display: none;"} Unvote
        %button.btn.btn-mini.btn-success.vote &nbsp;Vote&nbsp;

%div.well
  %p
    = idea.description

  %p
    posted by:
    = link_to idea.user.name, profile_path(idea.user)
  
  %small.text-right.muted
    created 
    = idea.created_at
  
    - if idea.edited?
      and edited 
      = idea.updated_at