%h1= @idea.title

%div.well
  %p
    = @idea.description

  %p
    It belongs to site:
    = link_to @idea.site.name, @idea.site
  
  %p
    posted by:
    = link_to @idea.user.name, @idea.user
  
  %small.text-right.muted
    created @
    = @idea.created_at
  
    - if @idea.edited?
      and edited @
      = @idea.updated_at

-if !@idea.comments.empty?
  %h2 Comments
  - @idea.comments.each do |comment|
    = render 'comments/comment', comment: comment

- content_for :sidebar do
  - if can? :create, @comment
    %h3 Add comment
    = render 'comments/form', url: site_idea_comments_path(@site, @idea)
