%h1= @idea.title

%div.well
  %p
    = @idea.description

  %p
    It belongs to site:
    = @idea.site.name
  
  %p
    posted by:
    = @idea.user.email
  
  %small.text-right.muted
    created @
    = @idea.created_at
  
    - if @idea.updated_at > @idea.created_at + 60 # seconds, TODO: add to global config
      and edited @
      = @idea.updated_at
  
- if can? :update, @idea
  %h2 Edit idea
  = render 'form'