%div.well.posting{ id: "comment_#{comment.id}"}
  %p
    = comment.text
  
  %span.info
    Posted by #{link_to comment.user.name, profile_path(comment.user)}
    = distance_of_time_in_words(Time.now - comment.created_at)
    ago
  
  - if can? :destroy, comment
    = button_to "Delete", url, class: "btn btn-mini btn-danger delete", method: :delete
  
  .clearfix