
= simple_form_for [@site, @idea, @comment], url: url do |f|
  = f.error_notification
  
  = f.input :text, required: true, as: :text, input_html: { rows: 3, class: "input-xlarge" }, placeholder: "Enter your comment here", label: false

  - if !user_signed_in?
    .check_email
      = simple_fields_for @user do |u|
        = u.input :email, input_html: { class: "input-xlarge" }, placeholder: "Your email address", label: false
        -#%div.input-prepend
        -#  %span.add-on
        -#    %i.icon-lock
        = u.input :password, input_html: { class: "input-xlarge" }, placeholder: "fruitback password", label: false
        = u.input :name, required: false, input_html: { class: "input-xlarge" }, placeholder: "Your name", label: false
  - else
    %p.info= "Logged in as #{current_user.name}"

  = f.button :submit, "Post comment", class: "btn btn-success"
