
= simple_form_for [@site, @idea, @comment], url: @url do |f|
  = f.error_notification
  
  = f.input :text, required: true, as: :text, input_html: { rows: 5, class: "input-xlarge" }, placeholder: "Enter your comment here", label: false

  - if !user_signed_in?
    = simple_fields_for @user do |u|
      = u.input :email, input_html: { class: "input-xlarge" }, placeholder: "Your email address", label: false
      = u.input :password, input_html: { class: "input-xlarge" }, placeholder: "fruitback password", label: false
      = u.input :name, input_html: { class: "input-xlarge" }, placeholder: "Your name", label: false
  - else
    %p.info= "Signed in as #{current_user.name}"

  = f.button :submit, class: "btn btn-success"

%script
  = render "users/check_email.js"
