%p
  %i.icon-chevron-left
  = link_to "Browse ideas", site_ideas_path(@site)

= render 'ideas/idea', site: @site, idea: @idea, vote: @vote, url: site_idea_path(@site, @idea)

- if !@responses.empty?
  %h2 Responses
  - @responses.each do |response|
    = render 'customer_responses/response', response: response, url: customer_site_customer_idea_customer_response_path(@site, @idea, response)

%h2 Comments
- if @comments.present?
  - @comments.each do |comment|
    = render 'comments/comment', comment: comment, url: site_idea_comment_path(@site, @idea, comment)
- else
  = render 'comments/empty'

- content_for :sidebar do
  - if can? :create, @comment
    %h3 Add comment
    = render 'comments/form', url: @comments_url
  = render 'sites/sidebar'
