= simple_form_for @site, url: url do |f|
  = f.error_notification
  
  = f.input :name, placeholder: "Your site's name", required: true
  = f.input :url, placeholder: "Your site's url"

  = f.button :submit, class: 'btn btn-success'