%h1= @site.name
%p
  Owner: 
  = @site.user.name

%h2 Ideas
- if !@ideas.empty?
  - @ideas.sort { |a, b| [b.votes.count, a.title] <=> [a.votes.count, b.title] }.each do |idea|
    %div.idea
      %a{:href => customer_site_customer_idea_path(@site, idea)}
        = render 'ideas/small_idea', site: @site, idea: idea
- else
  = render 'ideas/empty'

- content_for :sidebar do
  = render "sidebar"
  - if visitor?
    - if can? :create, @idea
      %h2 Post a new idea
      = render 'ideas/form'
