
%h1= @site.name

- if can? :create, @idea
  = render 'form'


- content_for :sidebar do
  %h1 Ideas
  
  - @ideas.each do |idea|
    %div.well
      %a{:href => site_idea_path(@site, idea)}
        %div
          = idea.title
        %div
          = idea.user.name
    
    = #link_to site_idea_path(@site, idea)
