- content_for :sidebar do
  %h1= @site.name
  
  - if @site.user
    %p= "Owner: #{ @site.user.name }"
  
  - if can? :update, @site
    %h2 Change site
    = render 'form'

%h2 Ideas

%table.table.table-hover.table-bordered
  %tbody
    - @ideas.each do |idea|
      %tr
        %td= link_to idea.title, site_idea_path(@site, idea)

- if can? :create, @idea
  = render 'ideas/form'
