.container.header
  .navbar.navbar-inverse
    .navbar-inner
      .container
        %a.brand.logo{:href => root_path}
          = image_tag 'logo.png'
        .nav-collapse
          %ul.nav.nav_custom
            %li{:class => "#{'active' if current_page?(root_path)}"}
              =link_to root_path do
                %i.icon-home.icon-white
                Home
            
            %li{:class => "#{'active' if current_page?(sites_path)}"}
              = link_to "Sites", sites_path
            
            %li{:class => "#{'active' if current_page?(new_user_session_path)}"}
              - if user_signed_in?
                = link_to 'Logout', destroy_user_session_path, :method => :delete
              - else
                = link_to 'Login', new_user_session_path
                
          - if current_user
            %p.logged-in= "Logged in as #{current_user.email}" 