.container.header
  .navbar.navbar-inverse
    .navbar-inner
      .container
        .nav-collapse
          %ul.nav.nav_custom
            %li{:class => "#{'active' if current_page?(root_path)}"}
              =link_to site_ideas_path(@site) do
                %i.icon-home.icon-white
                = @site.name
            
            -if admin?
              %li{:class => "#{'active' if current_page?(customer_sites_path)}"}
                = link_to "All sites", customer_sites_path
              
              %li{:class => "#{'active' if current_page?(profiles_path)}"}
                = link_to "All users", profiles_path
              
            -elsif customer?
              %li{:class => "#{'active' if current_page?(customer_sites_path)}"}
                = link_to "My sites", customer_sites_path
          
          %p.session      
            - if user_signed_in?
              Logged in as
              = link_to current_user.name, profile_path(current_user), class: "user"
              |
              = link_to 'Logout', destroy_user_session_path, :method => :delete
            - else
              = link_to 'Login', new_user_session_path
