!!!
%html
  %head
    %title Fruitback
    = render 'layouts/shim'
  %body{ "onLoad" => "$('.alert').alert()" }
    %div.container
      %div.header
        = render 'layouts/app_header'
          
        = render 'layouts/app_nav'
      %div.main.container-fluid  
        %div.row-fluid
          %div.span12  
                  %li= link_to "My sites", sites_path
                  
                -elsif logged_in?
                  %li= link_to "Sites I posted on", sites_path
                
            = render 'layouts/alert'
          
            %div.row-fluid
              %div.span8
                %div.content
                  = yield
                
              %div.span4  
                %div.sidebar
                  Sidebar
          
            
            = render 'layouts/app_footer'