!!!
%html
  %head
    %title Fruitback
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ "onLoad" => "$('.alert').alert()" }
    .container
      .navbar.navbar-inverse
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => root_path}
              FruitBack
            .nav-collapse
              %ul.nav
                %li{:class => "#{'active' if current_page?(root_path)}"}
                  =link_to root_path do
                    %i.icon-home.icon-white
                    Home
                
                -if admin?
                  %li= link_to "All sites", sites_path
                  
                -elsif customer?
                  %li= link_to "My sites", sites_path
                  
                -elsif logged_in?
                  %li= link_to "Sites I posted on", sites_path
                
                %li
                  - if user_signed_in?
                    = link_to 'Logout', destroy_user_session_path, :method => :delete
                  - else
                    = link_to 'Login', new_user_session_path
                    
              - if current_user
                %p.logged-in= "Logged in as #{current_user.email}" 
              
    .container
      - if notice
        %div.alert.alert-success
          = notice
          - #%a.close{"data-dismiss" => "alert", :href => "#"} &times;
      - if alert
        %p.alert.alert-error= alert
        
      = yield