!!!
%html
  %head
    %title Fruitback
    = render 'layouts/shim'
  %body
    %div.container
      %div.container         
        = render 'layouts/app_nav'
      
      %div.main.container-fluid  
        %div.row-fluid
          %div.span12  
            = render 'layouts/alert'
          
            %div.row-fluid
            
              %div.span8
                %div.content
                  = yield
                
              %div.span4  
                %div.sidebar
                  = yield :sidebar

    = render 'layouts/app_footer'