!!!
%html
  %head
    %title Fruitback
    = render 'layouts/shim'
  %body
    %div.container
      %div.header
        = render 'layouts/nav'
      
      %div.container-fluid.main
        %div.row-fluid
        
          %div.span8
            %div.content
              = render 'layouts/alert'
              = yield
            
          %div.span4
            %div.sidebar
              = yield :sidebar

    = render 'layouts/footer'
  
  = javascript_include_tag "application"