!!!
%html
  %head
    %title Fruitback
    = render 'layouts/shim'
  %body.customer
    %div.container
      %div.header
        = render 'layouts/customer_nav'
      
      %div.container-fluid.main
        %div.row-fluid
        
          %div.span8
            %div.content
              = render 'layouts/alert'
              = yield
            
          %div.span4
            %div.sidebar
              = yield :sidebar
              

    = render 'layouts/footer'
    
    :javascript
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = '/customer_sites/3/widget.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    
  = javascript_include_tag "application"
  
  