!!!
%html
  %head
    = render 'layouts/shim'
    %title Fruitback
  
  %body.micro
    %div.container
      %div.container-fluid.main
        %div.row-fluid
        
          %div.span5
            %div.content
              - if notice
                %div.alert.alert-success= notice
              - if alert
                %div.alert.alert-error= alert
                
              = yield
          
          %div.span7
            %div.sidebar
              = yield :sidebar
          